body {
    background: rgb(255,0,0);
    background: linear-gradient(326deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(255,0,0,1) 100%);
    color: white;
    margin: 0px;
}

header{
    padding: 20px;
    background: red;
    border-bottom: 2px solid rgb(0, 195, 255);
}